.primaryButton {
  background: #44a0ff;
  color: #fff;
  padding: 10px 12px 6px 10px;
  font-size: 1.7rem;
  margin-left: 8vw;
  border: 1px solid #3e7ab7;
  transition: background 0.5s ease;

  &:hover {
    background: #2c80d6;
  }
}
